.enterSchool {
  padding: 0 20px;
  box-sizing: border-box;
  .inputInfo {
    height: 50px;
    background: #f8f8f8;
    border-radius: 90px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    position: relative;
    input {
      height: 50px;
      width: 100%;
      font-size: 14px;
    }
    &.inputInfo-area {
      height: auto;
      min-height: 50px;
      margin-top: 20px;
      padding: 10px 30px 10px 15px;
    }
    .input-placeholder {
      font-family: PingFang SC;
      font-size: 14px;
      color: #c8c8c8;
    }
    .rightBtn {
      display: flex;
      align-items: center;
    }
    .close-img {
      width: 17.5px;
      height: 17.5px;
      margin-right: 0px;
    }
    .select-img {
      position: absolute;
      top: 50%;
      right: 16px;
      width: 20px;
      height: 20px;
      transform: translateY(-50%);
    }
    .area-box {
      .area-select {
        /* 请选择学校所在地区 */
        font-family: PingFang SC;
        font-size: 14px;
        color: #c8c8c8;
        &.area-has-select {
          color: #000;
        }
      }
    }
  }
  .operatBtn {
    height: 50px;
    border-radius: 54px;
    background: #d9d9d9;
    margin-top: 41px;
    text-align: center;
    line-height: 50px;
    font-family: PingFang SC;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
  }
  .nextBtn {
    background: #2f5de7;
  }
}
